// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar {
    min-height: $height_menu;
}

.bg-home {
    height: calc(100vh - #{$height_menu});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -1rem;
}

.img-user {
    width: 174px;
    height: 272px;
    object-fit: cover;
}
